.dialog {
}

    .dialog .model {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        opacity: .4;
    }

    .dialog .dialog-content {
        padding: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 600px;
        height: 650px;
        border-radius: 4px;
        background-color: #ffffff;
        padding-bottom: 80px;
    }
/* Header */
    .dialog .dialog-header{
        margin-bottom: 24px;
    }
    .dialog .dialog-title {
        font-size: 20px;
        font-weight: bold;
    }

    .dialog .dialog-close-button {
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        border-radius: 0 4px 0 4px;
    }

        .dialog .dialog-close-button:hover {
            background-color: #bbb;
            cursor: pointer;
        }

.dialog-hide {
    display: none;
}

/* Body */
.dialog-body {
    position: absolute; 
    width: 600px;
    height: 100%;
    background-color: yellow;
    margin: 0px;
    border: 0px;
}

.dialog-form input {
    height: 32px !important;
    width: 181px !important;
    border: 1px solid #bbbbbb !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    border-radius: 4px !important;
    outline: none !important;
    margin-top: 4px !important;
    margin-bottom: 16px !important;
}

.dialog-form input:hover {
    cursor: pointer !important;
    border-color: #019160 !important;
}

.dialog-form select {
    height: 32px;
    width: 181px;
    border: 1px solid #bbbbbb;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    outline: none;
    margin-top: 4px;
    margin-bottom: 16px;
}

.dialog-form select:hover {
    cursor: pointer;
    border-color: #019160;
}
    /* Left body */
    .left-body {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 154px;
        height: 166px;
        margin: 0;
        background-color: rgb(0, 255, 200);
    }

    .left-body img {
        position: absolute;
        top: 0px;
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }

    .left-body .img-desc {
        position: absolute;
        bottom: 0px;
        font-size: 12px;
    }
    /* Right body */
    .dialog-form .body-title {
        font-size: 14px;
        font-weight: bold;
        height: 32px;
        width: 181px;
        outline: none;
    }

    .dialog-form .body-title::after {
        content: "";
        /* This is necessary for the pseudo element to work. */
        display: block;
        /* This will put the pseudo element on its own line. */
        /* margin: 0 auto; */
        /* This will center the border. */
        width: 35%;
        /* Change this to whatever width you want. */
        /* padding-top: 20px; */
        /* This creates some space between the element and the border. */
        border-bottom: 4px solid #019160;
        /* This creates the border. Replace black with whatever color you want. */
    }
    .left-right-body{
        position: absolute;
        top: 0;
        right: 223px;
        width: 223px;
        height: 166px;
        margin: 0;
        background-color: aqua;
    }

    .right-right-body{
        position: absolute;
        top: 0;
        right: 0px;
        width: 215px;
        height: 166px;
        margin: 0;
        background-color: bisque;
    }

/* Footer */
.dialog .dialog-footer{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    background-color: #e5e5e5;
    height: 56px;
    border-radius: 0 0 4px 4px;
    left: 0;
    right: 0;
}

    .dialog-footer .destroy {
        position: absolute;
        right: 130px;
        background-color: #E9EBEE;
        color: black;

    }

    .dialog-footer .destroy:hover {
        background-image: url('../../assets/icon/delete.png');
        background-color: #019160;
        color: #FFFFFF;
    }

    .dialog-footer .save {
        background-image: url('../../assets/icon/add.png');
        position: absolute;
        right: 24px;
    }