.flex-dialog {
  overflow: auto !important;
}

.flex-dialog .flex-model {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: .4;
}

.flex-dialog .flex-dialog-content {
  padding: 24px 24px 0px 24px;
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  width: 647px;
  height: 500px;
  overflow: hidden;
  border-radius: 4px;
  background-color: #ffffff;
  /* padding-bottom: 60px; */
}


.dialog-hide {
  display: none;
}

/* Header */
.flex-dialog .flex-dialog-header {
  margin-bottom: 24px;
}
/* -----------------------left header----------------------- */
.flex-dialog .flex-left-header{
  display: flex;
  align-items: center;
}

.flex-left-header .flex-dialog-title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 8px;
}

.flex-left-header .flex-dialog-checkbox{
  margin-right: 8px;
}

.flex-dialog .flex-dialog-close-button {
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 0 4px 0 4px;
}

.flex-dialog .flex-dialog-close-button:hover {
  background-color: #bbb;
  cursor: pointer;
}
/* --------------------------------Body-------------------------------- */
.flex-dialog-body{
  width: 100%;
  height: 391px;
  /* background-color: yellow; */
  margin: 0px;
  border: 0px;
}

/* .flex-dialog-body input,select{
  height: 30px !important;
} */

/* -----------------Top body----------------- */
.flex-top-body{
  display: flex;
  width: 100%;
  height: 48%;
  /* background-color: red; */
}
/* -----------------------------Top left body----------------------------- */
.flex-top-left-body{
  width: 45%;
  height: 100%;
  /* background-color: orange; */
}
 
.flex-top-left-body div{
  margin-right: 4px ;
  margin-bottom: 2px;
}
.top-left-row-1{
  display: flex;
}

.top-left-row-1-a{
  flex: 1 1 30%;
}

.top-left-row-1-b {
  flex: 1 1 70%;
}

.top-left-row-2{
  margin-right: 8px !important;
}

.top-left-row-3{
  margin-right: 8px !important;
}
/* -----------------------------Top right body----------------------------- */
.flex-top-right-body {
  width: 55%;
  height: 100%;
  /* background-color: bisque; */
}

.flex-top-right-body div {
  margin-right: 4px;
  margin-bottom: 2px;
}

.top-right-row-1{
  display: flex;
}

.top-right-row-1-a{
  flex: 1 1 30%;
}

.top-right-row-1-b {
  flex: 1 1 70%;
}

.top-right-row-1-b-child{
  display: flex;
}

.top-right-row-2{
  display: flex;
}

.top-right-row-2-a {
  flex: 1 1 60%;
}

.top-right-row-2-b {
  flex: 1 1 40%;
}
/* -----------------------------Bottom body----------------------------- */
.flex-bottom-body{
  width: 100%;
  height: 48%;
  /* background-color: whitesmoke; */
}

.flex-bottom-body div{
  margin-right: 4px;
  margin-bottom: 2px;
}

.bottom-row-2,
.bottom-row-3 {
  display: flex;
}

.bottom-row-2, 
.bottom-row-3 input{
  width: 500px;
}

/* ----------------------CSS form when hover, focus---------------------- */
.flex-dialog-form input:hover {
  cursor: pointer !important;
  border-color: #019160 !important;
}

.flex-dialog-form select:hover {
  cursor: pointer;
  border-color: #019160;
}

.flex-dialog-form input:focus,
.flex-dialog-form select:focus {
  border: 2px solid rgb(62, 143, 248) !important;
}
/* --------------------------Footer-------------------------- */
.flex-dialog-footer{
  width: 100%;
  height: 60px;
  /* background-color: olive; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid gray;
}

.flex-dialog-footer button:focus {
  border: 2px solid rgb(62, 143, 248);
}

.flex-dialog-footer .destroy {
  background-color: white;
  border: 1px solid gray;
  color: black;
  background-image: none;
  margin-right: 10px;
}

.flex-dialog-footer .destroy:hover {
  background-color: #019160;
  color: #FFFFFF;
}
